# Global
dist/
*.bak
*.bkp
node_modules/
package-lock.json
prod.package.json
prod.tsconfig.json

# Frontend
*output.css

# Infrastructure
keys/
data/
certs/
secrets/

# Services
database/

# Local build artifacts / docker leftovers (do not commit)
app/sha*